<div class="wrapper">
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary">
        <div class="col-md-6 p-lg-5 mx-auto my-5">
        <div class="product-device shadow-sm d-none d-md-block">
            <img src="https://image.api.playstation.com/vulcan/img/rnd/202010/2614/Sy5e8DmeKIJVjlAGraPAJYkT.png" alt="">
        </div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block">
            <img src="https://cdn.mobygames.com/covers/2805846-kingdom-come-deliverance-windows-apps-front-cover.jpg" alt="">
        </div>
          <h1 class="display-3 fw-bold">Gameloggd</h1>
          <h3 class="fw-normal text-muted mb-3">Log and collect your videogames</h3>
          <div class="d-flex gap-3 justify-content-center lead fw-normal">
            <a class="icon-link" href="#">
              Learn more
              <svg class="bi"><use xlink:href="#chevron-right"/></svg>
            </a>
            <a class="icon-link" href="#" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
              Log
              <svg class="bi"><use xlink:href="#chevron-right"/></svg>
            </a>
        </div>
    </div>
    
</div>

